input[type=checkbox] {width: 18px;height: 18px;border: 1px solid #e4e4e4;accent-color: #FFC12E;}
/* file */
.filebox label {font-weight:400; display: inline-block; width: auto;cursor: pointer; padding: 6px 15px; margin-left: 0; border-radius: 5px; vertical-align: middle; border: 1px solid #ddd; background-color: #fff; color: #000; }
.filebox.dragbox label {padding: 0 7px;}
.filebox input[type="file"], .filedragbox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0; }


.schBoxs select { width: 100px; }
.schBoxs > div { margin: 0 auto; text-align: center; }

.btnPrev > img, .btnNext > img {width:25px; vertical-align: middle !important;}

.scheduleInputView .autoSizeLayer { width: 500px; }
.txtConts { height: 100px; }


.targetList {display: table; width: 100%;}
.targetList p {display: table-cell;}
.targetList p:nth-child(1) {width: 80%;}
.targetList p:nth-child(2) {width: 20%;}
.toName {text-align: left;}
.btnUser {text-align: right;}

/* 잔여 연차 확인 - 추가230111*/
.autoSizeLayerContBody > ul{ padding:10px 5px; margin-bottom: 10px;}
.autoSizeLayerContBody > ul > li{display:inline-block; width:24%;}
.autoSizeLayerContBody > ul > li > p{text-align:center; }
.autoSizeLayerContBody > ul > li > p > span{position:relative; display: block;}
.autoSizeLayerContBody > ul > li > p > span:first-child{margin-bottom: 10px;}
.autoSizeLayerContBody > ul > li > p > span:last-child > span{padding:4px 4px 4px 30px; background-color:#f2f2f2; border-radius:5px;}
