.codeManagement{display: grid; margin-top: 15px; grid-template-columns: 1fr 1fr 1fr;}
.codeManagement > section{padding:15px; margin-right: 10px; }
.codeManagement > section:last-child{margin-right: 0;}